/*---------------------------------
           NeutronCSS
---------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html * {
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

/*--------- End of NeutronCSS ---------*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4 {
  font-weight: 900; }

p,
li {
  font-size: 1rem;
  line-height: 1.5rem; }

h4 {
  font-size: 1.2rem;
  line-height: 1.5rem; }

h3 {
  font-size: 1.44rem;
  line-height: 1.5rem; }

h2 {
  font-size: 1.728rem;
  line-height: 3rem; }

h1 {
  font-size: 2.0736rem;
  line-height: 3rem; }

h1,
h2,
h3,
h4,
p,
li {
  max-width: 33rem; }

body {
  color: #7A7070; }

h1,
h2,
h3 {
  color: #2D2727; }

img {
  display: block; }

body,
img {
  max-width: 100%; }

.row {
  max-width: 1360px;
  margin: 0 auto; }

body,
div,
section,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0; }

h1,
h2,
h3,
h4,
p,
li {
  margin-bottom: 1.5rem; }

section {
  padding: 1.5rem 1.5rem 0; }

section:after {
  content: "";
  display: table;
  clear: both; }

body {
  background-color: #F0F0F0; }

header,
footer {
  background-color: #2D2727; }

#characters {
  background-color: #F4F4F4; }

#favourites {
  background-color: #EBEBEB; }

#characters h2,
#favourites h2 {
  background-repeat: no-repeat;
  background-position: left center; }

#characters h2 {
  background-image: url("../img/icons/characters.png"); }

#favourites h2 {
  background-image: url("../img/icons/favourites.png"); }

header .col {
  padding: 1.5rem 1.5rem; }
header #marvel-logo {
  height: 3rem; }
@media only screen and (min-width: 680px) {
  header .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    header .row:after {
      content: "";
      display: table;
      clear: both; }
    header .row > *:nth-child(2n+1) {
      width: calc(33.33333%);
      float: left;
      clear: left;
      margin-left: 0; }
    header .row > *:nth-child(2n+2) {
      width: calc(66.66667%);
      float: left;
      clear: none;
      margin-right: 0; } }
@media only screen and (min-width: 1020px) {
  header .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    header .row:after {
      content: "";
      display: table;
      clear: both; }
    header .row > *:nth-child(3n+1) {
      width: calc(16.66667%);
      float: left;
      clear: left;
      margin-left: 0; }
    header .row > *:nth-child(3n+2) {
      width: calc(50%);
      float: left;
      clear: none; }
    header .row > *:nth-child(3n+3) {
      width: calc(33.33333%);
      float: left;
      clear: none;
      margin-right: 0; } }
@media only screen and (min-width: 1360px) {
  header .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    header .row:after {
      content: "";
      display: table;
      clear: both; }
    header .row > *:nth-child(3n+1) {
      width: calc(25%);
      float: left;
      clear: left;
      margin-left: 0; }
    header .row > *:nth-child(3n+2) {
      width: calc(50%);
      float: left;
      clear: none; }
    header .row > *:nth-child(3n+3) {
      width: calc(25%);
      float: left;
      clear: none;
      margin-right: 0; } }

@media only screen and (min-width: 1020px) {
  main .container > .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    main .container > .row:after {
      content: "";
      display: table;
      clear: both; }
    main .container > .row > *:nth-child(2n+1) {
      width: calc(66.66667%);
      float: left;
      clear: left;
      margin-left: 0; }
    main .container > .row > *:nth-child(2n+2) {
      width: calc(33.33333%);
      float: left;
      clear: none;
      margin-right: 0; } }
@media only screen and (min-width: 1360px) {
  main .container > .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    main .container > .row:after {
      content: "";
      display: table;
      clear: both; }
    main .container > .row > *:nth-child(2n+1) {
      width: calc(75%);
      float: left;
      clear: left;
      margin-left: 0; }
    main .container > .row > *:nth-child(2n+2) {
      width: calc(25%);
      float: left;
      clear: none;
      margin-right: 0; } }
@media only screen and (min-width: 1360px) {
  main .characters-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    main .characters-container:after {
      content: "";
      display: table;
      clear: both; }
    main .characters-container > *:nth-child(2n+1) {
      width: calc(50% - 1.5rem - 1.5rem + 0.75rem + 0.75rem);
      float: left;
      margin: 0 1.5rem 1.5rem;
      clear: left;
      margin-left: 0; }
    main .characters-container > *:nth-child(2n+2) {
      width: calc(50% - 1.5rem - 1.5rem + 0.75rem + 0.75rem);
      float: left;
      margin: 0 1.5rem 1.5rem;
      clear: none;
      margin-right: 0; } }
main #characters h2,
main #favourites h2 {
  padding-left: 4.5rem; }

@media only screen and (min-width: 680px) {
  footer .container > .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    footer .container > .row:after {
      content: "";
      display: table;
      clear: both; }
    footer .container > .row > *:nth-child(2n+1) {
      width: calc(66.66667%);
      float: left;
      clear: left;
      margin-left: 0; }
    footer .container > .row > *:nth-child(2n+2) {
      width: calc(33.33333%);
      float: left;
      clear: none;
      margin-right: 0; } }
@media only screen and (min-width: 1360px) {
  footer .container > .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px; }
    footer .container > .row:after {
      content: "";
      display: table;
      clear: both; }
    footer .container > .row > *:nth-child(2n+1) {
      width: calc(75%);
      float: left;
      clear: left;
      margin-left: 0; }
    footer .container > .row > *:nth-child(2n+2) {
      width: calc(25%);
      float: left;
      clear: none;
      margin-right: 0; } }
footer p {
  margin: 0.75rem 0; }
footer .grability-logo-container:after {
  content: "";
  display: table;
  clear: both; }
footer .grability-logo-container img {
  float: right;
  height: 3rem; }
footer .col {
  padding: 1.5rem 1.5rem; }

.search {
  background-color: #F4F4F4;
  border-radius: 5px; }
  .search:after {
    content: "";
    display: table;
    clear: both; }
  .search input {
    display: block;
    float: left;
    width: calc(100% - 48px);
    height: 3rem;
    padding: 0 0 0 0.75rem;
    border: 0;
    margin: 0;
    background-color: transparent; }
  .search button {
    display: block;
    float: right;
    padding: 0;
    border: 0;
    background-color: transparent; }
    .search button img {
      height: 3rem; }

.character-container {
  padding-top: 1.5rem; }
  .character-container .character {
    background-color: #FFFFFF;
    margin-bottom: 3rem; }
    .character-container .character img {
      border-radius: 100%;
      box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.5);
      margin: -2.25rem auto 3rem; }
      @media only screen and (min-width: 680px) {
        .character-container .character img {
          margin-left: -2.25rem; } }
      @media only screen and (min-width: 1360px) {
        .character-container .character img {
          max-width: 120%; } }
    .character-container .character h3 {
      text-transform: uppercase; }
    .character-container .character button {
      height: 3rem;
      padding: 0.75rem;
      border: 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      background-color: #EC1D23;
      color: #FFFFFF; }
    .character-container .character .related-comics {
      padding-top: 1.5rem; }
      .character-container .character .related-comics ul {
        list-style-type: none; }
        @media only screen and (min-width: 680px) {
          .character-container .character .related-comics ul {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto; }
            .character-container .character .related-comics ul:after {
              content: "";
              display: table;
              clear: both; }
            .character-container .character .related-comics ul > *:nth-child(2n+1) {
              width: calc(50% - 1.5rem - 1.5rem + 0.75rem + 0.75rem);
              float: left;
              margin: 0 1.5rem 1.5rem;
              clear: left;
              margin-left: 0; }
            .character-container .character .related-comics ul > *:nth-child(2n+2) {
              width: calc(50% - 1.5rem - 1.5rem + 0.75rem + 0.75rem);
              float: left;
              margin: 0 1.5rem 1.5rem;
              clear: none;
              margin-right: 0; } }
    @media only screen and (min-width: 680px) {
      .character-container .character .row {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto; }
        .character-container .character .row:after {
          content: "";
          display: table;
          clear: both; }
        .character-container .character .row > *:nth-child(2n+1) {
          width: calc(33.33333%);
          float: left;
          clear: left;
          margin-left: 0; }
        .character-container .character .row > *:nth-child(2n+2) {
          width: calc(66.66667%);
          float: left;
          clear: none;
          margin-right: 0; } }

/*# sourceMappingURL=screen.css.map */
