//DISPLAYS
img {
	display: block;
}

//WIDTHS
body,
img {
	max-width: 100%;
}

//MARGINS PADDINGS AND BORDERS
body,
div,
section,
h1,
h2,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
}

h1,
h2,
h3,
h4,
p,
li {
	margin-bottom: $base-line-height;
}

section {
	padding: $base-line-height $base-line-height 0;
}

//CLEAR FIX
section {
	@include clear-fix;
}

//COLUMNS
.width-container {
	@media only screen and (min-width: $bp-2) {
		@include columns((2,1));
		max-width: $max-width;
	}
}