//DISPLAYS
img {
	display: block;
}

//WIDTHS
body,
img {
	max-width: 100%;
}

.row {
	max-width: $max-width;
	margin: 0 auto;
}

//MARGINS PADDINGS AND BORDERS
body,
div,
section,
h1,
h2,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
}

h1,
h2,
h3,
h4,
p,
li {
	margin-bottom: $base-line-height;
}

section {
	padding: $base-line-height $base-line-height 0;
}

//LISTS
ul {
	list-style: none;
}

//CLEAR FIX
section {
	@include clear-fix;
}