@mixin type-setting($level: 0) {
	font-size: type-scale($level);
	line-height: line-height($level);
}

@mixin two-columns-row($bp) {
	.container>.row {
		@media only screen and (min-width: $bp) {
			@include columns((2,1));
			max-width: $max-width;
		}

		@media only screen and (min-width: $bp-3) {
			@include columns((3,1));
			max-width: $max-width;
		}
	}
}