header {
	.col {
		padding: $base-line-height $base-line-height;
	}

	#marvel-logo {
		height: $base-line-height * 2;
	}
}

main {
	@include two-columns-row;
}

footer {
	@include two-columns-row;

	p {
		margin: $base-line-height * 0.5 0 0;
	}

	.grability-logo-container {
		@include clear-fix;
		img {
			float: right;
			height: $base-line-height * 2;
		}
	}

	.col {
		padding: $base-line-height $base-line-height;
	}
}

#characters,
#favourites {
	h2 {
		padding-left: $base-line-height * 3;
	}
}

